.input-field {
  margin-left: 145px;
  padding-right: 945px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}

.div-1 {
  background-color: rgb(250, 250, 250);
  padding-top: 8px;
  padding-bottom: 8px;
}
